.cb-feedbackItem-container {
    margin-top: 20px;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.cb-feedbackItem {
    display: flex;
    flex-direction: column;
    width: 40%;
    border-radius: 25px;
    background-color: var(--azure-x-11-web-color);
}

.cb-feedbackItem-title {
    display: flex;
    justify-content: space-between;
    background-color: inherit;
    padding: 10px;
    border-radius: 10px;
}

.cb-feedbackItems-rating {
    /* background-color: var(--azure-x-11-web-color); */
    background-color: var(--rich-black-fogra-29);
    color: var(--azure-x-11-web-color);
    padding: 10px;
    border-radius: 25px;
    outline: var(--jet) solid 1px;
    min-width: 2.25em;
    min-height: 2.25em;
    text-align: center;
}

.cb-feedbackItems-options {
    display: flex;
    background-color: var(--azure-x-11-web-color);
    align-content: center;
    text-align: center;
    justify-content: space-between;
}


.cb-feedbackItem-body {
    background-color: var(--azure-x-11-web-color);
    border-radius: 0px 0px 10px 10px;
    padding: 0px 10px 5px 10px;
}