.cb-header {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--rich-black-fogra-29);
    color: var(--azure-x-11-web-color);
    font-size: 3em;
    padding: 1rem 0px;
}

.cb-header-text {
    background-color: (var(--independence));
    color: var(--azure-x-11-web-color);
}
